<div class="left-slidebar">
    <i id="btn-hidemenu" class="fas fa-chevron-circle-left"></i>
    <h3 style="font-family: 'Cookie', cursive; color:white;">Tulen Blog</h3>
    <div class="logo">
        <img src="{{site.site_url}}/images/avatar.jpg" title="This is Tulen." alt="#">
        <p>Hi! Tulen Here.</p>
    </div>

    <ul class="menu">
        <li class="menu-home" data-active="false"><i class="fas fa-home"></i>Home</li>
        <li class="menu-posts" data-active="false"><i class="fas fa-edit"></i>Posts</li>
        <li class="menu-story" data-active="false"><i class="fas fa-book-reader"></i>Story</li>
        <li class="menu-contact" data-active="false"><i class="fas fa-phone"></i>Contact</li>
        <li class="menu-about" data-active="false"><i class="fas fa-user"></i>About</li>
    </ul>
    <p style="font-size: 0.8rem; position: relative; bottom: 0; top: 2rem;">  © This website was designed and <br> made by Tulen.</p>
</div>
<div class="cover">

</div>
